chromadb==0.5.3
langchain==0.1.16
langchain-core==0.1.52
langchain-text-splitters==0.0.2
langchain-openai==0.1.7
langchain-community==0.0.37
langchain-chroma==0.1.4
sentence-transformers==4.1.0
PyMuPDF==1.25.5
streamlit==1.45.0
python-dotenv==1.0.1